node_modules
dadosGitHub.txt
newtest.ts
newtest2.ts
test.ts
orm-sequelize-projeto-aula-2.zip
orm-sequelize-projeto-aula-3.zip
orm-sequelize-projeto-aula-5.zip
orm-sequelize-projeto-aula-5
arquivos_base